<p-toast></p-toast>
<div class="admin-page" *ngIf="order">
  <p-card header="Order" subheader="Information about the order">
    <!-- <div class="grid w-full"> -->
      <p-fieldset styleClass="mt-3" legend="Order Details" [toggleable]="true">
        <div class="grid w-full">
          <div class="col-4">
            <h5>Order ID</h5>
            <p>{{order.id}}</p>
          </div>
          <div class="col-4">
            <h5>Order Date</h5>
            <p>{{order.dateOrdered | date: 'short'}}</p>
          </div>
          <div class="col-4">
            <h5>Order Status</h5>
            <p-dropdown
            [options]="orderStatus"
            optionLabel="name"
            optionValue="id"
            (onChange)="onStatusChange($event)"
            [(ngModel)]="selectedStatus"></p-dropdown>
          </div>
          <div class="col-4">
            <h5>Order total</h5>
            <p>{{order.totalPrice | currency}}</p>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset styleClass="mt-3" legend="Order Items" [toggleable]="true">
        <div class="grid w-full">
          <div class="col-2">
            <h3>Name</h3>
          </div>
          <div class="col-2">
            <h3>Brand</h3>
          </div>
          <div class="col-2">
            <h3>Category</h3>
          </div>
          <div class="col-2">
            <h3>Price</h3>
          </div>
          <div class="col-2">
            <h3>Quantity</h3>
          </div>
          <div class="col-2">
            <h3>Subtotal</h3>
          </div>
        </div>
        <div class="grid w-full" *ngFor="let orderItem of order.orderItems">
          <div class="col-2">
            <p>{{orderItem.product.name}}</p>
          </div>
          <div class="col-2">
            <p>{{orderItem.product.brand}}</p>
          </div>
          <div class="col-2">
            <p>{{orderItem.product.category.name}}</p>
          </div>
          <div class="col-2">
            <p>{{orderItem.product.price | currency}}</p>
          </div>
          <div class="col-2">
            <p>{{orderItem.quantity}}</p>
          </div>
          <div class="col-2">
            <h3>{{orderItem.product.price * orderItem.quantity | currency}}</h3>
          </div>
        </div>
        <div class="grid">
          <div class="col-2 col-offset-8 font-bold">Total Price</div>
          <div class="col-2">{{order.totalPrice | currency}}</div>
        </div>
      </p-fieldset>
      <p-fieldset styleClass="mt-3" legend="Order Address" [toggleable]="true">
        <div class="grid w-full">
          <div class="col-4">
            <h5>Order Address</h5>
            <p>{{order.shippingAddress1}} <br> {{order.shippingAddress2}} <br> {{order.city}} <br> {{order.zip}} <br> {{order.country}}  </p>
          </div>
          <div class="col-4">
            <h5>Costumer Info</h5>
            <p>{{order.user.name}}</p>
          </div>
          <div class="col-4">
            <h5>Contact Info</h5>
            {{order.phone}}
          </div>
        </div>
      </p-fieldset>
  </p-card>
</div>
