<div class="admin-page">
  <p-card>
  <!-- <p-card header="Dashboard" subheader="Latest updates"> -->
    <div class="grid">
      <div class="col-3">
        <p-card styleClass="d-orders">
          <div class="d-item">
            <div class="mx-auto">
              <i class="pi pi-shopping-cart shopingCard mb-0"></i>
              <p class="name underline font-normal mb-0 mt-3 uppercase">Orders</p>
              <p class="number font-bold mb-0 mt-1">25</p>
            </div>
          </div>
        </p-card>
      </div>
      <div class="col-3">
        <p-card styleClass="d-orders">
          <div class="d-item">
            <div class="mx-auto">
              <i class="pi pi-users shopingCard mb-0"></i>
              <p class="name underline font-normal mb-0 mt-3 uppercase">Customers</p>
              <p class="number font-bold mb-0 mt-1">25</p>
            </div>
          </div>
        </p-card>
      </div>
      <div class="col-3">
        <p-card styleClass="d-orders">
          <div class="d-item">
            <div class="mx-auto">
              <i class="pi pi-briefcase shopingCard mb-0"></i>
              <p class="name underline font-normal mb-0 mt-3 uppercase">Products</p>
              <p class="number font-bold mb-0 mt-1">25</p>
            </div>
          </div>
        </p-card>
      </div>
      <div class="col-3">
        <p-card styleClass="d-orders">
          <div class="d-item">
            <div class="mx-auto">
              <i class="pi pi-dollar shopingCard mb-0"></i>
              <p class="name underline font-normal mb-0 mt-3 uppercase">Total Sales</p>
              <p class="number font-bold mb-0 mt-1">25</p>
            </div>
          </div>
        </p-card>
      </div>
    </div>
  </p-card>
</div>
